alembic==1.5.8
appdirs==1.4.4
attrs==20.3.0
Babel==2.9.0
bcrypt==3.2.0
cachetools==4.2.1
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
click-log==0.3.2
cliff==3.7.0
cmd2==1.5.0
colorama==0.4.4
cryptography==3.4.7
daphne-rally @ file:///Users/zijls001/git/daphne-rally
debtcollector==2.2.0
decorator==4.4.2
distlib==0.3.1
dogpile.cache==1.1.2
extras==1.0.0
fasteners==0.16
filelock==3.0.12
fixtures==3.0.0
futurist==2.3.0
gnocchiclient==7.0.6
google-auth==1.29.0
greenlet==1.0.0
idna==2.10
importlib-metadata==4.0.0
importlib-resources==5.1.2
iso8601==0.1.14
Jinja2==2.11.3
jmespath==0.10.0
jsonpatch==1.32
jsonpointer==2.1
jsonschema==3.2.0
keystoneauth1==4.3.1
kubernetes==12.0.1
linecache2==1.0.0
Mako==1.1.4
MarkupSafe==1.1.1
monotonic==1.6
msgpack==1.0.2
munch==2.5.0
murano-pkg-check==0.3.0
netaddr==0.8.0
netifaces==0.10.9
oauthlib==3.1.0
openstacksdk==0.55.0
os-client-config==2.1.0
os-faults==0.2.7
os-service-types==1.7.0
osc-lib==2.3.1
osc-placement==3.1.1
oslo.concurrency==4.4.0
oslo.config==8.5.0
oslo.context==3.2.0
oslo.db==8.5.0
oslo.i18n==5.0.1
oslo.log==4.4.0
oslo.serialization==4.1.0
oslo.utils==4.8.0
osprofiler==3.4.0
packaging==20.9
paramiko==2.7.2
pbr==5.5.1
ply==3.11
prettytable==0.7.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyghmi==1.5.25
PyNaCl==1.4.0
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyperclip==1.8.2
pyrsistent==0.17.3
python-barbicanclient==5.1.0
python-ceilometerclient==2.9.0
python-cinderclient==7.4.0
python-dateutil==2.8.1
python-designateclient==4.2.0
python-editor==1.0.4
python-glanceclient==3.3.0
python-heatclient==2.3.0
python-ironicclient==4.6.1
python-keystoneclient==4.2.0
python-magnumclient==3.4.0
python-manilaclient==2.6.0
python-mimeparse==1.6.0
python-mistralclient==4.2.0
python-monascaclient==2.3.0
python-muranoclient==2.2.0
python-neutronclient==7.3.0
python-novaclient==17.4.0
python-octaviaclient==2.3.0
python-openstackclient==5.5.0
python-saharaclient==3.3.0
python-senlinclient==2.2.1
python-subunit==1.4.0
python-swiftclient==3.11.1
python-troveclient==7.0.0
python-watcherclient==3.2.0
python-zaqarclient==2.1.0
pytz==2021.1
PyYAML==5.4.1
rally==3.2.0
rally-openstack==2.1.0
requests==2.25.1
requests-oauthlib==1.3.0
requestsexceptions==1.4.0
rfc3986==1.4.0
rsa==4.7.2
semantic-version==2.8.5
simplejson==3.17.2
six==1.15.0
SQLAlchemy==1.4.9
sqlalchemy-migrate==0.13.0
sqlparse==0.4.1
stevedore==3.3.0
Tempita==0.5.2
testresources==2.0.1
testscenarios==0.5.0
testtools==2.4.0
traceback2==1.4.0
typing-extensions==3.7.4.3
ujson==4.0.2
unittest2==1.1.0
urllib3==1.26.4
virtualenv==20.4.3
warlock==1.3.3
wcwidth==0.2.5
WebOb==1.8.7
websocket-client==0.58.0
wrapt==1.12.1
yaql==1.1.3
zipp==3.4.1
